* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: gray;
    color: white;
}

header {
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 300;
    color: lightgray;
    margin-bottom: 1rem;
}
 
#todo-form {
    display: flex;
}

input, button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#todo-input {
    flex: 1 1 0%;
    background-color: darkgray;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: white;
    font-size: 1.25rem;
}

#todo-input::placeholder{
    color: white;
}

#todo-submit{
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    background-color: darkgray;
    border-radius: 1rem;
    cursor: pointer;
}

#todo-submit:hover {
    opacity: 0.7;
}

#todo-submit:active{
    opacity: 0.5;
}

main {
    flex: 1 1 0%;
    padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 1.5rem;
    font-weight: 300;
    color: lightgray;
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    background-color: darkgray;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content .text {
    color: white;
    font-size: 1.125rem;
    width: 100%;
    display: block;
}

#tasks .task .actions {
    display: flex;
    margin: 0 -0.5rem;
}

.task .actions button {
    cursor: pointer;
    margin: 0 0.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.task .actions button:hover {
    opacity: 0.7;
}

.task .actions button:active {
    opacity: 0.5;
}

.task .actions .edit {
    color: rgb(117, 255, 117);
}

.task .actions .delete {
    color: rgb(255, 81, 81);
}